.mainDiv {
  height: 100%;
  display: grid;
  align-items: center;
  /* background-color: rgb(3 128 188); */
  /* position: absolute; */
  margin-top: -80px;
  grid-template-columns: repeat(2,minmax(400px,1fr));
  transform: translateY(90px);
}
.mainDiv2login{
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form{
  width: 70%;
  /* transform: translate(0 100%); */
  margin-left: 10%;
  background-color: rgba(223, 231, 248, 0.514);
  padding: 40px 10px;
  border-radius: 10px;
}
.Linkk1{
  /* background-color: green; */
  color: #f6f6f6;
  /* padding: 12px 20px; */
  border-radius: 8px;
  border-style: none;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.Linkk1:hover{
  /* background-color: rgb(0, 95, 0); */
  
}
.Conn{
  transform: translateY(1%);
  position: static;
  z-index: 5;
}
.Conn1{
  transform: translateY(140%);
  position: fixed;
  width: 100%;
  z-index: 5;
}
@media (max-width: 834px){
  .mainDiv{
    grid-template-columns: auto;
  }
  form{
    width: 80%;
  }
  .None{
    display: none;
  }
}
@media (max-width: 1024px){
  .mainDiv2login{
    height: 90vh;
  }
}
@media (max-width: 425px){
  .mainDiv2login{
    height: 80vh;
  }
}
@media (max-width: 320px){
  .Conn1{
    transform: translateY(220%);
  }
}
/* @media (max-width: 425px){
  .mainDiv2login{
    height: 80vh;
  }
} */
.btn010{
  width: fit-content;
}